# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

## Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [38]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, size = (6,4)), columns  = ['A','B','C','D'])
print(df)

# Set the index of the first column

df.set_index('A', inplace = True)
print(df)

    A   B   C   D
0  77  86  10  34
1  55  41  96  61
2  64  36  99  62
3  47  52  12  31
4  29   8  99  50
5  49  87  91  44
     B   C   D
A
77  86  10  34
55  41  96  61
64  36  99  62
47  52  12  31
29   8  99  50
49  87  91  44

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [19]:
import pandas as pd
import numpy as np

df  = pd.DataFrame(np.random.randint(1,100, size = (3,3)), columns = ['A','B','C'], index = ['X','Y','Z'])
print(df)

## Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print('Element at Y row and B cloumn', element)

    A   B   C
X  34  75  80
Y  15  28   4
Z  35  62  66
Element at Y row and B cloumn 28

## Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns  = ['A','B','C'])
print(df)

# Add new cloumn that is the product of first two cloumn

df['D'] = df['A'] * df['B']
print('Add new cloumn that is the product of first two cloumn/n')
print(df)

    A   B   C
0   6   3  72
1  46  51  36
2  50  51  56
3  29  73  57
4  82   1  75
Add new cloumn that is the product of first two cloumn/n
    A   B   C     D
0   6   3  72    18
1  46  51  36  2346
2  50  51  56  2550
3  29  73  57  2117
4  82   1  75    82

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, size = (4,3)), columns = ['A','B','C'])
print(df)

# compute the row - wise and cloumn wise sum

row_sum = df.sum(axis=1)                    # means “move horizontally” (left → right)
cloumn_sum = df.sum(axis=0)                 # means “move vertically” (top → bottom)

print('row-wise sum')
print(row_sum)

print('cloumn-wise sum')
print(cloumn_sum)

    A   B   C
0  81  26  66
1   1  65  35
2  87  15  15
3  93  78  93
row-wise sum
0    173
1    101
2    117
3    264
dtype: int64
cloumn-wise sum
A    262
B    184
C    209
dtype: int64

## Assignment 3: Data Cleaning¶

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [27]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, size = (5,3)), columns = ['A','B','C'])
print('original dataframe')
print(df)

# Introduce some NaN values. 

df.iloc[0,1] = np.nan       # [row_indexer, cloumn_indexer]
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print('Data Frame with Nan Values')
print(df)

#Fill the NaN values with the mean of the respective columns.

df.fillna(df.mean(), inplace = True)
print('Data Frame with nan values')
print(df)

original dataframe
    A   B   C
0  76  15  51
1  82  95  25
2  97  45  46
3  83  79  78
4  77   6  44
Data Frame with Nan Values
      A     B     C
0  76.0   NaN  51.0
1  82.0  95.0  25.0
2  97.0  45.0   NaN
3  83.0  79.0  78.0
4   NaN   6.0  44.0
Data Frame with nan values
      A      B     C
0  76.0  56.25  51.0
1  82.0  95.00  25.0
2  97.0  45.00  49.5
3  83.0  79.00  78.0
4  84.5   6.00  44.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [34]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, size = (6,4)), columns =['A','B','C','D'])
print('original data frame')
print(df)

# Introduce some NaN values

df.iloc[1,1] = np.nan # [row_indexer, cloumn_indexer]
df.iloc[2,3] = np.nan
print('Dataframe with nan vlaues')
print(df)

# Drop the rows with any NaN values.

df.dropna(inplace = True)
print('Dataframe with drop nan values')
print(df)

original data frame
    A   B   C   D
0  94  67  73  84
1  34  49  71  96
2  41  41  36  41
3  61  45  47  46
4   4   1  61   6
5  64  39  66  16
Dataframe with nan vlaues
    A     B   C     D
0  94  67.0  73  84.0
1  34   NaN  71  96.0
2  41  41.0  36   NaN
3  61  45.0  47  46.0
4   4   1.0  61   6.0
5  64  39.0  66  16.0
Dataframe with drop nan values
    A     B   C     D
0  94  67.0  73  84.0
3  61  45.0  47  46.0
4   4   1.0  61   6.0
5  64  39.0  66  16.0

## Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [46]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'category': np.random.choice(['A','B','C','d'], size = 10), 'value': np.random.randint(1,100, size = 10)})
print('original Dataframe')
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category

Grouped = df.groupby('category')['value'].agg(['sum','mean'])
print("Groupby Dataframe")
print(Grouped)

original Dataframe
  category  value
0        C     47
1        A     68
2        C     50
3        d     83
4        A     16
5        d     79
6        B     59
7        A     95
8        C     77
9        d     80
Groupby Dataframe
          sum       mean
category
A         179  59.666667
B          59  59.000000
C         174  58.000000
d         242  80.666667

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [53]:
import pandas as pd 
import numpy as np

df = pd.DataFrame({'product': np.random.choice(['prod1', 'prod2','prod3'], size =10), 'category': np.random.choice(['A','B','C'], size = 10), 'sales': np.random.randint(1,100,size = 10)})
print('original dataframe')
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category.

Grouped = df.groupby('category')['sales'].sum()
print('Group Dataframe')
print(Grouped)

original dataframe
  product category  sales
0   prod2        B     67
1   prod1        B     92
2   prod2        A     41
3   prod2        A      4
4   prod3        A     34
5   prod3        B     23
6   prod1        C     99
7   prod3        A     94
8   prod1        B     85
9   prod2        C     47
Group Dataframe
category
A    173
B    267
C    146
Name: sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [19]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'keys':['A','B','C','D'], 'values': np.random.randint(1,100, size = 4)})
print(df1)

df2 = pd.DataFrame({'keys':['A','B','C','D'], 'values': np.random.randint(1,100, size = 4)})
print(df2)

#  Merge the DataFrames using the common column.

merged = pd.merge(df1, df2, on = 'keys')
print(merged)

  keys  values
0    A      11
1    B       1
2    C      79
3    D      90
  keys  values
0    A      70
1    B      40
2    C      24
3    D      40
  keys  values_x  values_y
0    A        11        70
1    B         1        40
2    C        79        24
3    D        90        40

2.Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [27]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'keys':['A','B','C','D'], 'values': np.random.randint(1,100, size = 4)})
print(df1)

df2 = pd.DataFrame({'keys':['D','E','F','G'], 'values': np.random.randint(1,100, size = 4)})
print(df2)


# Concatenate the DataFrames along the columns

concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):\n")
print(concat_rows)

# Concatenate the DataFrames along the columns

concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):\n")
print(concat_columns)

  keys  values
0    A      15
1    B      23
2    C      40
3    D      57
  keys  values
0    D      97
1    E      12
2    F      33
3    G      39
Concatenated DataFrame (rows):

  keys  values
0    A      15
1    B      23
2    C      40
3    D      57
0    D      97
1    E      12
2    F      33
3    G      39
Concatenated DataFrame (columns):

  keys  values keys  values
0    A      15    D      97
1    B      23    E      12
2    C      40    F      33
3    D      57    G      39

## Assignment6 : Working with Text Data (It is 10)

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [29]:
import pandas as pd

# Create a Pandas Series with 5 random text strings

df = pd.Series(['Apple','Orange','Banana','Kiwi','Cranberry'])
print('orginal series\n')
print(df)

# Convert all the strings to uppercase

uppercase = df.str.upper()
print('uppercase string\n')
print(uppercase)

orginal series

0        Apple
1       Orange
2       Banana
3         Kiwi
4    Cranberry
dtype: object
uppercase string

0        APPLE
1       ORANGE
2       BANANA
3         KIWI
4    CRANBERRY
dtype: object

2.Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [38]:
import pandas as pd

# Create a Pandas Series with 5 random text strings

df = pd.Series(['apple','Orange','banana','kiwi','Cranberry'])
print('original series')
print(df)

# Extract the first three characters of each string
first_three = df.str[0:3]
print('first three character\n')
print(first_three)

original series
0        apple
1       Orange
2       banana
3         kiwi
4    Cranberry
dtype: object
first three character

0    app
1    Ora
2    ban
3    kiw
4    Cra
dtype: object

### Assignment 7: Applying Functions (It is 9)

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [49]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100 , size=(5,3)), columns = ['A','B','C'])
print('original Dataframe')
print(df)

# Apply a function that doubles the values of the DataFrame

doubled_value = df*2             # this is the one method
print('double the values\n')
print(doubled_value)

# This is using lambda

double_value = df.apply(lambda x : x*2)
print('second method double the value\n')
print(double_value)

original Dataframe
    A   B   C
0  48  45  10
1   2  72  25
2  50  68  36
3  68  85   4
4  19  38  80
double the values

     A    B    C
0   96   90   20
1    4  144   50
2  100  136   72
3  136  170    8
4   38   76  160
second method double the value

     A    B    C
0   96   90   20
1    4  144   50
2  100  136   72
3  136  170    8
4   38   76  160